body.joaillerie-page main.container{
  padding-top: 12px;
  padding-bottom: 24px;
}

/* Petites contraintes utiles */
body.joaillerie-page .input-owned{
  width: 90px;
  padding: 6px 8px;
  border-radius: 10px;
}
