/* Point d’entrée unique */
@import url("./base.css");
@import url("./layout.css");
@import url("./components.css");

/* Pages (scopées via body.xxx-page) */
@import url("./pages/index.css");
@import url("./pages/joaillerie.css");
@import url("./pages/decompte.css");

@import url("./pages/notfound.css");


/* Navbar toujours visible */
.navbar{
  position: sticky;      /* reste en haut pendant le scroll */
  top: 0;
  z-index: 9999;         /* passe devant le contenu */
}

/* si ton header/table passe devant à cause de backdrop-filter */
.page-header,
.lt-tableWrap,
.lt-table th{
  z-index: 0;
}
