/* Point d’entrée unique */
@import url("./base.css");
@import url("./layout.css");
@import url("./components.css");

/* Pages (scopées via body.xxx-page) */
@import url("./pages/index.css");
@import url("./pages/joaillerie.css");
@import url("./pages/decompte.css");
