/* Point d’entrée unique */
@import url("./base.css");
@import url("./layout.css");
@import url("./components.css");

/* Pages (scopées via body.xxx-page) */
@import url("./pages/index.css");
@import url("./pages/joaillerie.css");
@import url("./pages/decompte.css");

@import url("./pages/notfound.css");


.navbar{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

/* Pour éviter que le contenu passe sous la navbar */
body{
  padding-top: 64px; /* ajuste à la hauteur réelle de ta navbar */
}
